extends ../layout
block styles
    // styles start
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/admin/css/style.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    // styles end
block content
    div(data-ng-app='app', ng-controller="adminController")
        include header
        include sidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            div(data-ng-view)
        include content
block scripts
    // scripts start
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/jqplot/jquery.jqplot.js')
    script(src='/vendor/jqplot/plugins/jqplot.donutRenderer.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-i18n/angular-locale_en.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/angular-resource/angular-resource.js')
    script(src='/vendor/ng-table/ng-table.js')
    script(src='/vendor/ng-file-upload/angular-file-upload.js')
    script(src='/vendor/angular-ui-chart/src/chart.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/common/controls/common-controls.js')
    script(src='/common/controls/directives/dropdown-multiselect-directive.js')
    script(src='/common/controls/directives/inline-datepicker-directive.js')
    script(src='/common/controls/directives/smart-table-directive.js')
    script(src='/common/controls/directives/smart-table-head-directive.js')
    script(src='/admin/app.js')
    script(src='/admin/controllers/admin-controller.js')
    script(src='/admin/controllers/overview-controller.js')
    script(src='/admin/controllers/users-controller.js')
    script(src='/admin/resources/users-resource.js')
    script(src='/admin/controllers/customers-controller.js')
    script(src='/admin/resources/customers-resource.js')
    script(src='/admin/controllers/departments-controller.js')
    script(src='/admin/controllers/objects-controller.js')
    script(src='/admin/controllers/ratingtypes-controller.js')
    script(src='/admin/controllers/statistics-controller.js')
    script(src='/admin/resources/statistics-resource.js')
    script(src='/admin/services/statistics-service.js')
    script(src='/admin/controllers/import-ratings-controller.js')
    script(src='/admin/resources/ratings-resource.js')
    script(src='/admin/resources/permissions-resource.js')
    script(src='/admin/controllers/roles-controller.js')
    script(src='/admin/resources/roles-resource.js')
    // scripts end

block global
    script.
        var global = {
            mainMenus:  [
                {title: "#{__('admin.index.navigation.overview')}", url: '/admin', active: 'active'}, 
                {title: "#{__('admin.users.title')}", url: '/admin/users'},
                {title: "#{__('admin.roles.title')}", url: '/admin/roles'},
                {title: "#{__('admin.customers.title')}", url: '/admin/customers'},
                {title: "#{__('admin.index.navigation.statistics')}", url: '/admin/statistics'},
                {title: "#{__('admin.index.navigation.import.ratings')}", url: '/admin/import/ratings'},
                {title: "#{__('admin.index.navigation.logout')}", url: '/admin/logout'}
           ],
           statisticsTableColumns: {
                   c: "#{__('admin.statistics.customer.c')}",
                   customerName: "#{__('admin.statistics.customer.name')}",
                   customerCode: "#{__('admin.statistics.customer.code')}",
                   customerAddress: "#{__('admin.statistics.customer.address')}",
                   d: "#{__('admin.statistics.department.d')}",
                   departmentName: "#{__('admin.statistics.department.name')}",
                   departmentCode: "#{__('admin.statistics.department.code')}",
                   departmentAddress: "#{__('admin.statistics.department.address')}",
                   o: "#{__('admin.statistics.object.o')}",
                   objectName: "#{__('admin.statistics.object.name')}",
                   r: "#{__('admin.statistics.ratingType.r')}",
                   created: "#{__('admin.statistics.rating.created')}",
                   ratingTypeName: "#{__('admin.statistics.ratingType.name')}"
               }
        };