.panel.panel-default
    .panel-heading
        h3 {{message}}
    .panel-body
        ul(class='stars-list list-inline')
            h4= __('rate.r.yourChoice')
            li(class='glyphicon glyphicon-star' ng-repeat='i in rating track by $index')
.panel.panel-default(data-ng-show='showComment')
    .panel-heading
        h4= __('rate.r.comment')
    .panel-body
        form(role='form', ng-submit="onComment(comment)")
            .form-group
                textarea(class='form-control', rows='5', maxlength="150", ng-disabled='disabled', data-ng-model='comment')
            - var commentButtonText = __("rate.r.commentButton")
            input(class='btn btn-success btn-lg', data-ng-disabled='disabled', type='submit', value=commentButtonText)
.panel.panel-default
    .panel-heading
        h4= __('rate.r.DownloadMobileApp')
    .panel-body
        a(href="https://play.google.com/store/apps/details?id=com.beirate.app")
            img(class='img-responsive' src='images/en/android-app-button.png')
input(type='hidden', id='rating-value', value='#{r}')