h1.page-header= __('admin.index.navigation.objects')
.row
    .col-md-5
        button.btn.btn-default(ng-click='onAdd()') Add
        form(role='form')
            .form-group
                label(for='o')= __('admin.users.editObjectForm.input.o')
                input#o.form-control(type='number', placeholder="#{__('admin.users.editObjectForm.input.o')}", name='o', ng-model='object.o')
            .form-group
                label(for='name')= __('admin.users.editObjectForm.input.name')
                input#name.form-control(type='text', placeholder="#{__('admin.users.editObjectForm.input.name')}", name='name', ng-model='object.name')
        button.btn.btn-default(ng-click='onSave(customer)')= __('admin.users.editObjectForm.input.submit')
    .col-md-7
        table.table(ng-table='ng')
            thead
                tr
                    th= __('admin.users.editObjectForm.input.o')
                    th= __('admin.users.editObjectForm.input.name')
                    th
            tbody
                tr(ng-repeat='object in department.objects')
                    td {{object.o}}
                    td {{object.name}}
                    td
                        button.btn.btn-default.btn-sm(ng-click='onEdit(object)')
                            span.glyphicon.glyphicon-edit Edit
                        button.btn.btn-default.btn-sm(ng-click='clone(department, object)')
                            span.glyphicon.glyphicon-share Clone
                        button.btn.btn-default.btn-sm(ng-click='onRatingType(object)')
                            span.glyphicon.glyphicon-share Rating Types
                        button.btn.btn-default.btn-sm(ng-click='onDelete(object)')
                            span.glyphicon.glyphicon-remove Delete



