extends ../layout
block styles
    // styles start
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/admin/css/style.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    // styles end
block content
    div(data-ng-app='app', ng-controller="analyticsController")
        include header
        include sidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            div(data-ng-view)
        include content
block scripts
    // scripts start
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/jqplot/jquery.jqplot.js')
    script(src='/vendor/jqplot/plugins/jqplot.donutRenderer.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-i18n/angular-locale_lt.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/angular-resource/angular-resource.js')
    script(src='/vendor/ng-table/ng-table.js')
    script(src='/vendor/ng-file-upload/angular-file-upload.js')
    script(src='/vendor/angular-ui-chart/src/chart.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/common/controls/common-controls.js')
    script(src='/common/controls/datepicker/directives/inline-datepicker-directive.js')
    script(src='/common/controls/smart-table/filters/smart-table-date-filter.js')
    script(src='/common/controls/smart-table/directives/smart-table-multiselect-filter-directive.js')
    script(src='/common/controls/smart-table/directives/smart-table-directive.js')

    script(src='/common/statistics/statistics.js')
    script(src='/common/statistics/controllers/statistics-controller.js')
    script(src='/common/statistics/resources/statistics-resource.js')
    script(src='/common/statistics/services/statistics-service.js')

    script(src='/analytics/app.js')
    script(src='/analytics/controllers/analytics-controller.js')
    // scripts end

block global
    script.
        var global = {
            mainMenus:  [
                {title: "#{__('admin.index.navigation.statistics')}", url: '/analytics'},
                {title: "#{__('admin.index.navigation.logout')}", url: '/logout'}
           ],
           statisticsTableColumns: {
                   c: "#{__('admin.statistics.customer.c')}",
                   customerName: "#{__('admin.statistics.customer.name')}",
                   customerCode: "#{__('admin.statistics.customer.code')}",
                   customerAddress: "#{__('admin.statistics.customer.address')}",
                   d: "#{__('admin.statistics.department.d')}",
                   departmentName: "#{__('admin.statistics.department.name')}",
                   departmentCode: "#{__('admin.statistics.department.code')}",
                   departmentAddress: "#{__('admin.statistics.department.address')}",
                   o: "#{__('admin.statistics.object.o')}",
                   objectName: "#{__('admin.statistics.object.name')}",
                   r: "#{__('admin.statistics.ratingType.r')}",
                   created: "#{__('admin.statistics.rating.created')}",
                   ratingTypeName: "#{__('admin.statistics.ratingType.name')}"
               }
        };